## --- Geometry ---
# For representing arbitrary polygon vertices without metadata
shapely

## --- Data managers ---
# Raster image library
rasterio

# OGR files
fiona

# For image handling
scikit-image

# For train/val/test splitting
sklearn
