## --- Geometry ---
# For representing arbitrary polygon vertices without metadata
shapely

# For geographic data types in pandas data frames
geopandas

# For plotting GeoDataFrame
descartes

## --- Data managers ---
# Raster image library
rasterio

# OGR files
fiona

# For image handling
scikit-image

# For train/val/test splitting
sklearn
